@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,latin-ext,vietnamese');

* {
    margin: 0;
    padding: 0;

}


header {
    width: 95%;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;

}

.logo {
    width: 20%;
    float: left;

}


.menu {
    width: 50%;
    float: right;
}

.menu ul {
    list-style: none;
    float: right;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    text-decoration: none;
    margin-left: 60px;
    font-size: 18px;
    text-transform: uppercase;
    color: #626262;
}

.banner {
    margin: auto;
    width: 95%;
}

.banner img {
    width: 100%;
}

.content {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.content span {
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.content h1 {
    color: #626262;
    font-size: 40px;
    margin-bottom: 20px;
}

.content p {
    color: #626262;
    line-height: 1.5;
}

.lifestyle {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;


}

.lifestyle_one {
    width: 45%;
    float: left;
}

.lifestyle_one img {
    width: 100%;
}

.lifestyle_one span {
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.lifestyle_one h1 {
    color: #626262;
    font-size: 30px;
    margin-bottom: 20px;
}

.lifestyle_one p {
    color: #626262;
    line-height: 1.5;
}

.lifestyle_two {
    width: 45%;

    float: right;
}

.lifestyle_two img {
    width: 100%;
}

.lifestyle_two span {
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.lifestyle_two h1 {
    color: #626262;
    font-size: 30px;
    margin-bottom: 20px;
}

.lifestyle_two p {
    color: #626262;
    line-height: 1.5;
}

.photodiary {
    width: 80%;
    overflow: hidden;

    margin: auto;
}

.photodiary_one {
    width: 45%;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photodiary_one img {
    width: 100%;
}

.photodiary_one span {
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.photodiary_one h1 {
    color: #626262;
    font-size: 30px;
    margin-bottom: 20px;
}

.photodiary_one p {
    color: #626262;
    line-height: 1.5;
}

.photodiary_two {
    width: 45%;
    margin-top: 100px;
    float: right;
    margin-bottom: 100px;
}

.photodiary_two img {
    width: 100%;
}

.photodiary_two span {
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.photodiary_two h1 {
    color: #626262;
    font-size: 30px;
    margin-bottom: 20px;
}

.photodiary_two p {
    color: #626262;
    line-height: 1.5;
}

.newsletter {
    height: 300px;
    background-color: #fafafa;
    overflow: hidden;

}

.signup {
    width: 20%;
    margin: auto;
    position: relative;
}

.signup h1 {
    margin-bottom: 50px;
    padding-top: 100px;
    font-size: 30px;
}

.signup input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 100%;
}

.icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.button {}

.buttonone {
    width: 10%;
    margin: auto;
    height: 150px;
    margin-top: 100px;
}

.buttonone input {
    padding: 20px;
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
}

.footercontent {
    width: 80%;
    margin: auto;
    height: 50px;


}

.terms {
    width: 20%;
}

.terms ul {
    list-style-type: none;
}

.terms ul li {
    float: left;
    font-size: 18px;
    margin-right: 15px;
}

.socialfolloe {
    width: 80%;
    overflow: hidden;
}

.socialfolloe ul {
    list-style-type: none;

}

.socialfolloe ul li {
    float: right;
    margin-left: 15px;
}